<div class="col-md-12">

<%= bootstrap_form_for(@admin_contribution_level) do |f| %>
  <% if @admin_contribution_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_contribution_level.errors.count, "error") %> prohibited this admin_contribution_level from being saved:</h2>

      <ul>
      <% @admin_contribution_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
    <%= f.text_field :name %>
  </div>
  <div class="field">
   	
    <%= f.number_field :rank %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-primary pull-right'%>
  </div>
<% end %>

</div>