<h1>Financial Support for the project</h1>

<p class="lead">Currently the project budget is anticipated to be $2.5 million. This would include funds to set up an endowment for future upkeep, etc. The funds are proposed to be raised through a fundraising campaign to private donors and to solicit grants.
</p>


<h3>Contributions</h3>


<% @levels.each do |level| %>
	
	<h2><%= level.name %></h2>
	<div class="row">
	<% @contributors.each do |contrib| %>
	
	<% if contrib.admin_contribution_level_id == level.id %>
<% if contrib.avatar.blank? %>
<div class="col-md-3 donorwall noimage"><h1><%= contrib.firstname%> <%= contrib.lastname%></h1><p class="lead"><%= contrib.organization %></p></div>
<% else %>
<div class="col-md-3 donorwall"><%= image_tag contrib.avatar.url(:platinum) %></div>
		<% end %>
		<% end %>
		<% end %>
	</div>
	<% end %>