<% content_for :head do %>

<script src="http://maps.google.com/maps?file=api&v=2&sensor=false" type="text/javascript"></script>

  <script type="text/javascript">
//<![CDATA[
// Google Map Maker script v.1.1
// (c) 2006 Richard Stephenson http://www.donkeymagic.co.uk
// Email: donkeymagic@gmail.com
// http://mapmaker.donkeymagic.co.uk
var map;
var icon0;
var newpoints = new Array();

function addLoadEvent(func) { 
	var oldonload = window.onload; 
	if (typeof window.onload != 'function'){ 
		window.onload = func
	} else { 
		window.onload = function() {
			oldonload();
			func();
		}
	}
}

addLoadEvent(loadMap);
addLoadEvent(addPoints);

function loadMap() {
	map = new GMap2(document.getElementById("map"));
	map.addControl(new GLargeMapControl());
	map.addControl(new GMapTypeControl());
	map.setCenter(new GLatLng(38.540628, -121.500833), 14);
	map.setMapType(G_NORMAL_MAP);

	icon0 = new GIcon();
	icon0.image = "http://www.google.com/mapfiles/marker.png";
	icon0.shadow = "http://www.google.com/mapfiles/shadow50.png";
	icon0.iconSize = new GSize(20, 34);
	icon0.iconAnchor = new GPoint(9, 34);
	icon0.infoWindowAnchor = new GPoint(9, 2);
}

function addPoints() {

	newpoints[0] = new Array(38.540628, -121.500833, icon0, 'Land Park Amphitheater', '3800 S Land Park Dr, Sacramento, CA 95822'); 
	

	for(var i = 0; i < newpoints.length; i++) {
		var point = new GPoint(newpoints[i][1],newpoints[i][0]);
		var popuphtml = newpoints[i][4] ;
		var marker = createMarker(point,newpoints[i][2],popuphtml);
		map.addOverlay(marker);
	}
}

function createMarker(point, icon, popuphtml) {
	var popuphtml = "<div id=\"popup\">" + popuphtml + "<\/div>";
	var marker = new GMarker(point, icon);
	GEvent.addListener(marker, "click", function() {
		marker.openInfoWindowHtml(popuphtml);
	});
	return marker;
}
//]]>
</script>

<style type="text/css">
#main img {
	padding:0;
	border:0;
	background-color:transparent;
}
</style>

<% end %>



		<h2>Contact Us</h2>
	<p>Perhaps the easiest way to contact us is to use this form and we will respond as soon as possible.</p>


	<div class="smallform">   
		<%= bootstrap_form_for @contact, url: {:action=>'create'} do |f| %>
	
		  <%= f.text_field :name %>

		  <%= f.email_field :email %>
	
      	
  			
		  <%= f.text_area :body, label: 'Message', placeholder: 'Your message', rows: '5' %>

      	
  			
		  <%= f.submit 'Submit', class: 'btn btn-default btn-about pull-right'%>
	 

		<% end %>
	</div>
	
	<div class="map">
	<h2>Find us in Land Park</h2>
		
		 <div id="map"></div>
</div>